* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

img {
    width: 150px;
}

ul {
    list-style: none;
}